@using DataAccess.Models;
@model List<Student>

<h1>Info Student</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>